
RewriteEngine on 
RewriteCond $1 !^(index.php|css|js|images|robots.txt) 
RewriteRule ^(.*)$ /loginsystem/index.php/$1 [L]

#RewriteEngine on
#RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml|static)
#RewriteRule ^(.*)$ index.php/$1[L]
