body{
	background-color: #3498db;
}
.center-div-30{
	margin: 0 auto;
	width: 30%;
	height: 100%;
}
.center-div-50{
	margin: 0 auto;
	width: 50%;
	height: 100%;
}
.right{
	float: right;
}
.left{
	float: left;
}

.form-group.focus .form-control,.form-control:focus,.form-group.focus .select2-search input[type=text],.select2-search input[type=text]:focus {
	border-color:#3498db;
	outline:0;
	box-shadow:none
}